<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>PC Control</title>
  <meta th:replace="templates/deafault-head.html :: headerfiles">
  <link rel="stylesheet" href="/assets/stylesheets/homepage.css">
</head>
<body>
<h1>Welcome</h1>
<div>
  <h2>Login:</h2>
  <div id="login-banner" class="form"></div>
  <div>
    <label>Username: <input type="text" id="login-user" class="username" name="username"/></label>
    <label>Password: <input type="password" id="login-pass" class="password" name="password"/></label>
    <button onclick="login()">Login</button>
  </div>
</div>

<hr/>

<!--/*@thymesVar id="new_accounts_enabled" type="java.lang.Boolean"*/-->
<div th:class="${new_accounts_enabled} ? '' : 'nodisplay'" class="form">
  <h2>Create Account:</h2>
  <div id="create-banner"></div>
  <div>
    <label>Username: <input type="text" id="new-user" class="username" name="username"
                            th:disabled="${new_accounts_enabled} == false"/></label>
    <label>Password: <input type="password" id="new-pass" class="password" name="password"
                            th:disabled="${new_accounts_enabled} == false"/></label>
    <button th:disabled="${new_accounts_enabled} == false" onclick="createAccount()">Create Account</button>
  </div>
</div>
</body>
<script src="/assets/scripts/utils.js"></script>
<script src="/assets/scripts/login.js"></script>
</html>